@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #FDFFFC;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}